<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Bowlby+One+SC|Exo:600,100' rel='stylesheet' type='text/css'>
  <title>HTS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header'>
    <table>
      <caption>
        Delivering Real Success®
      </caption>
      <tbody>
        <tr>
          <td><%= image_tag 'companies/hts/hts-logo-main.png' %></td>
        </tr>
      </tbody>
    </table>
    <%= react_component("NavBar", @nav_bar_props) %>
  </div>
  <%= yield %>
</body>
</html>
